<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Produtos</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>

    <link href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>Produto</h1>
    </div>

    <div>
        <a class="btn btn-primary" th:href="@{/produtos/cadastro}">Novo produto</a>
    </div>
    <hr/>

    <div th:if="${produtos != null}">
        <h4>
            Produtos
        </h4>

        <div th:if="${mensagem != null}">
            <div class="alert alert-info" role="alert">
                <span th:text="${mensagem}">mensagem</span>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Produto</th>
                <th>Descricao</th>
                <th>Estoque</th>
                <th>Valor R$</th>
                <th>Ação</th>
            </tr>
            </thead>
            <tr th:each="produto : ${produtos}">
                <td >
                    <a th:text="${produto.nome}" th:href="@{/produtos/{id}/produtos/listar(id=${produto.id})}">produto</a>
                </td>
                <td th:text="${produto.descricao}">descricao</td>
                <td th:text="${produto.estoque}">saida</td>
                <td th:text="${produto.valorProduto}">Valor</td>
                <td>
                    <a class="btn btn-sm btn-info" th:href="@{/produtos/{id}/atualizar(id=${produto.id})}">Editar</a>
                    <a class="btn btn-sm btn-danger" th:href="@{/produtos/{id}/remover(id=${produto.id})}">Excluir</a>
                </td>
            </tr>
        </table>
    </div>

    <div th:if="${#lists.isEmpty(produtos)}">
        <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            0 produtos cadastrado!
        </div>
    </div>
    <hr/>

    <a class="btn btn-light" href="/index">Voltar</a>
    <hr/>

    <footer class="footer">
        <p>&copy; 2018 Adenes Junior - Mario George - Edilson Diniz - Antonio Vinícius</p>
    </footer>

</div>
</body>
</html>